<div class="image">
    <img data-action="editImage" data-edit="img" src="{{document.img}}" alt="Photo de {{document.name}}" />
</div>


<div>
    <div>
        degats
    </div>

    <div>
        armure
    </div>  
</div>

<div>
    pv
</div>
<div>
    pe
</div>
<div>
    pm
</div>
<div>
    volonte
</div>
<div>
    sm
</div>


