<form id="bonus-roll-form">

    <div class="">

        <div class="flexrow roll-threshold">
            <label>{{localize (concat (SYSTEMID) ".roll.common.dialog.seuil")}}</label>
            <input type="number" name="seuil" value="10"/>
        </div>

        <div class="flexrow roll-threshold">
            <label>{{localize (concat (SYSTEMID) ".roll.common.dialog.bonus")}}</label>
            <input type="number" name="bonus" value="0" step="1" />
        </div>

        <div class="flexrow roll-threshold">
            <label>{{localize (concat (SYSTEMID) ".roll.common.dialog.nbDeBonus")}}</label>
            <input type="number" name="nbDeBonus" value="0" step="1" />
        </div>
    </div>
</form>