<section>


    <div class="field">
        <label>{{localizeSystem "sheet.items.armure.bonusArmure"}}</label>
        <div>{{ fieldOrInput "system.bonusArmure" class="pj-sheet-input" }}</div>
    </div>
    <div class="field">
        <label>{{localizeSystem "sheet.items.armure.coutDeplacement"}}</label>
        <div>{{ fieldOrInput "system.coutDeplacement" class="pj-sheet-input" }}</div>
    </div>


</section>