<section>


    <div class="notes">
        <label>{{localize (concat (SYSTEMID) ".pjsheet.notes.titre")}}</label>
        <textarea name="system.notes" rows="5" class="pj-sheet-input" placeholder="">{{system.notes}}</textarea>
    </div>
</section>