


.dystopia-sheet .toggleable {
    display:none;
}


.dystopia-sheet .toggleable.visible {
    display:initial;
}

.dystopia-sheet .lignetab {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.dystopia-sheet .lignetab > *{
    flex : 1 1 auto;
}

.dystopia-sheet .lignetab > [data-width]{
    flex : 0 1 attr(data-width px);
}

.dystopia-sheet .lignetab > .action{
    flex : 0 0 50px;
    text-align: right;
}



.dystopia-sheet textarea {
    width:100%;
}

.dystopia-sheet {
    display:flex;
    flex-direction: row;
    
    min-height: 0;
    gap: 5px;
}


.dystopia-sheet .sidebar{
    width: 200px;
}

.dystopia-sheet main{
    flex: 1 0 200px;
    display:flex;
    flex-direction: column;
}

.dystopia-sheet > main > .main {
    min-height:0;
    display:flex;
    flex-direction: column;
}

.dystopia-sheet > main > .main > .tabscontainer{
    min-height:0;
    display:flex;
    flex-direction: column;
}

.dystopia-sheet > main > .main > .tabscontainer > section{
    overflow-y: auto;
}

.dystopia-sheet .field > div {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}



.dystopia-sheet .listeElement ~ .listeElement {
    border-top : 1px solid white;
    padding-top: 1em;
}


