:root{
    --dystopia-color-bg-pv: #ff0000;
    --dystopia-color-text-pv: white;
    --dystopia-color-bg-pm : #4a6df0;
    --dystopia-color-text-pm : white;
    --dystopia-color-bg-pe : #ffd700;
    --dystopia-color-text-pe : black;
}

.dystopia-sheet {

    .toggleable {
        display:none;
    }

    .button {
        border: 1px solid black;
        padding: 1px 3px;
        border-radius: 5px;
        background-color: gray;
        color: white;
        cursor:pointer;
        text-align:center;

        &:hover{
            background-color:lightgray;
            color:black;
            
        }
    }

    &.dystopia-sheet-actor {

        
        .top{
            > .perso {
                display:flex;
                flex-direction:row;
                justify-content: space-between; 
                

                > .field {
                    
                    padding:5px;
                    border-radius:10px;
                    --dystopia-top-pero-field-color-bg : darkslategray;
                    --dystopia-top-pero-field-color-text: white;
                    background-color: var(--dystopia-top-pero-field-color-bg);
                    color: var(--dystopia-top-pero-field-color-text);
                    

                    >label{
                        text-align:center;
                        font-size : 15px;
                        font-weight: bold;
                        display:block;
                        border-bottom: 1px solid var(--dystopia-top-pero-field-color-text);
                    }

                    &.pv {
                        --dystopia-top-pero-field-color-bg: var(--dystopia-color-bg-pv);
                        --dystopia-top-pero-field-color-text: var(--dystopia-color-text-pv);
                    }

                    &.pm {
                        --dystopia-top-pero-field-color-bg: var(--dystopia-color-bg-pm);
                        --dystopia-top-pero-field-color-text: var(--dystopia-color-text-pm);
                    }

                    &.pe {
                        --dystopia-top-pero-field-color-bg: var(--dystopia-color-bg-pe);
                        --dystopia-top-pero-field-color-text: var(--dystopia-color-text-pe);
                    }
                }
            }

            .valeur {
                display:flex;
                flex-direction:column;
                flex-wrap:nowrap;
                
                >div {
                    width:100%;

                    >.total{
                        text-align:center;
                        font-weight: 800;
                        font-size: 20px;
                        margin-right:10px;
                        display: inline-block;
                        width:35px;
                    }

                    >.calc{
                        white-space: nowrap;

                        >input {
                            width:40px;
                        }
                    }
                    

                    &:first-child {
                        border-bottom:2px solid white;
                    }
                }


            }
        }

        .sidebar {
            > .sidebar_content {
                > .lancerDe {
                    margin: 15px 0px;
                    cursor:pointer;
                }

                > .field {
                    margin-bottom: 10px;

                    > .total-result {
                        display:flex;
                        flex-direction:row;
                        flex-wrap:nowrap;

                        > .total {
                            font-size: 18px;
                            font-weight: bold;
                            flex : 0 0 70px;
                        }

                        > .input  {
                            flex : 0 0 70px;
                        }

                        > .calc{
                            flex : 1 1 100px;
                        }
                    }
                }
            }
        }
    }
}


.dystopia-sheet-content .toggleable.visible {
    display:initial;
}

.dystopia-sheet-content .lignetab {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.dystopia-sheet-content .lignetab > *{
    flex : 1 1 auto;
}

.dystopia-sheet-content .lignetab > [data-width]{
    --localwidth: attr(data-width px);
    flex : 0 1 var(--localwidth);
}

.dystopia-sheet-content .lignetab > .action{
    flex : 0 0 75px;
    text-align: right;
}



.dystopia-sheet-content textarea {
    width:100%;
}

.dystopia-sheet-content {
    display:flex;
    flex-direction: row;
    
    min-height: 0;
    gap: 5px;
}


.dystopia-sheet-content .sidebar{
    width: 220px;
    display:flex;
    flex-direction: column;

    > .sidebar_content {
        overflow-y: auto;
    }
}

.dystopia-sheet-content main{
    flex: 1 0 200px;
    display:flex;
    flex-direction: column;
}

.dystopia-sheet-content > main > .main {
    min-height:0;
    display:flex;
    flex-direction: column;
}

.dystopia-sheet-content > main > .main > .tabscontainer{
    min-height:0;
    display:flex;
    flex-direction: column;
}

.dystopia-sheet-content > main > .main > .tabscontainer > section{
    overflow-y: auto;
}

.dystopia-sheet-content .field > div {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}



.dystopia-sheet-content .listeElement ~ .listeElement {
    border-top : 1px solid white;
    padding-top: 1em;
}




#sidebar #combat ol.combat-tracker > li.combatant,
#combat-popout ol.combat-tracker > li.combatant {

    flex-wrap:wrap;
    
    .custom-bars {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width:100%;
    }

    .custom-bars .bar-line {
    width: 100%;
    height: 6px;
    background: rgba(0,0,0,0.4);
    border-radius: 3px;
    overflow: hidden;
    }

    .custom-bars .bar-fill {
    height: 100%;
    border-radius: 3px;
    }
}

.chat-message {
    .button {
        border: 1px solid black;
        padding: 1px 3px;
        border-radius: 5px;
        background-color: gray;
        color: white;
        cursor:pointer;
        text-align:center;

        &:hover{
            background-color:lightgray;
            color:black;
            
        }
    }

    .attaque_message{
        ul.cibles {
            border: 1px solid black;
            border-radius:10px;
            padding: 10px 5px;
            > li {
                display:flex;
                flex-direction: row;
                margin-bottom: 5px;

                >span {
                    flex: 0 0 100px;

                    &.nom {
                        flex-grow : 1;
                    }
                }
            }
        }

        .attaque_btn {
            margin-top:10px;
        }


    }

    .result_attaque_message {
        .section {
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid #999;
            border-radius: 3px;
            box-shadow: 0 0 2px #FFF inset;
            margin-bottom:10px;
            padding:5px;
        }

        .result_infos {
            .title {
                font-weight: bold;
            }
        }

        .cible_result {
            margin-top: 10px;
            h4 {
                text-align:center;
            }
            .title {
                font-weight: bold;
            }
            .message {
                background: rgba(0, 0, 0, 0.1);
                border: 1px solid #999;
                border-radius: 3px;
                box-shadow: 0 0 2px #FFF inset;
                margin-bottom:10px;
                padding:5px;
                text-align:center;
            }
        }
    }
}